<h3>Create a new Event!</h3>
<form id="posts" action="/events" method="post">
  <input type="text" name="event[name]" placeholder="Name">
  <input type="text" name="event[location]" placeholder="Location">
  <input type="text" name="event[starts_at]" placeholder="Starts at:">
  <input type="text" name="event[ends_at]" placeholder="Ends at:">  
  <input type="submit" value="Submit!">
</form>